<div class="review">
  <h1>Review for <%= link_to @review.workspace.name, workspace_path(@review.workspace) %></h1>
  <p>Find me in app/views/review/show.html.erb</p>
  <h2><%= link_to @review.title, review_path(@review) %></h2>
  <p><%= @review.rating %></p>
  <p><%= @review.detail %></p>
  <%= link_to "Edit", edit_review_path(@review) %>
</div>